aside {
	margin-top:20px;
	width: 415px;
	float: right;
	padding: 0 0 20px 20px;
}
aside h2 {
	color: #800000;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em;
}

/* the styles for the section */
main {
	margin-top:20px;
	width: 450px;
	float:left;
	padding: 0 20px 20px 20px;
}
section {
		clear: left;
}


