aside {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

aside ul {
    list-style-type: none;
    padding: 0;
}
   
aside ul a {
    text-decoration: none;	
}

aside ul a:hover { 
    color: red;
	background-color:black;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

span{
	font-size:14px;
}

img{
	margin-top:15px;
}